::ng-deep .cdk-drag-preview {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0.5;
}

::ng-deep .cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
